fastapi==0.135.1
uvicorn==0.42.0

numpy==1.26.4
opencv-python==4.8.1.78

insightface==0.7.3
onnxruntime==1.18.0
onnx==1.21.0

mediapipe==0.10.14
protobuf==4.25.9

pydantic==2.12.5
pydantic-settings==2.2.1

python-dotenv==1.2.2
python-multipart==0.0.22

requests==2.32.5
scipy==1.15.3
scikit-learn==1.7.2

Pillow==12.1.1
tqdm==4.67.3